.DS_Store
.idea
vendor
.docker/*.env
.docker/composer-cache/*

/.idea
/.gitattributes
/app/design/*/Magento
/app/etc
/app/i18n/magento
/app/*.*

/bin
/update
/dev
/lib
/pub
/setup
/var
/phpserver
/generated

/*.*

!/.data-migration
!/.dockerignore
!/docker-compose.*
!/.docker/
!/composer.json
!/composer.lock
!/README.md
!/.gitignore
!/circle.yml
!/auth.json
!*/**/.gitkeep
!/.phpstorm.meta.php
!PULL_REQUEST_TEMPLATE.md
