# Copy to local.env and store on local machine

# Host Config
MAGE_ROOT_DIR=/var/www
MAGE_HOST=https://{project-domain}
MAGE_ADMIN_USER=admin
MAGE_ADMIN_PASS=password123
MAGE_ADMIN_FIRSTNAME=Joe
MAGE_ADMIN_LASTNAME=Bloggs
MAGE_ADMIN_EMAIL=magento@wearejh.com
MAGE_BACKEND_FRONTNAME=admin
HTTPS=on

# MySQL Details
MYSQL_ROOT_PASSWORD=docker
MYSQL_DATABASE=docker
MYSQL_USER=docker
MYSQL_PASSWORD=docker

# PHP
PHP_MEMORY_LIMIT=2G

# RabbitMQ
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password

## Mail config
MAIL_HOST=mail
MAIL_PORT=1025

## Xdebug config
XDEBUG_IDE_KEY=PHPSTORM
XDEBUG_CONFIG=remote_host=10.254.254.254
XDEBUG_ENABLE=true
PHP_IDE_CONFIG=serverName={project-domain}

# Blackfire
BLACKFIRE_CLIENT_ID=
BLACKFIRE_CLIENT_TOKEN=
BLACKFIRE_SERVER_ID=
BLACKFIRE_SERVER_TOKEN=