# Copy to production.env and store on production machine
# Never commit your production details into the repo

# Host Config
MAGE_HOST=https://mage.dev
MAGE_ADMIN_USER=admin
MAGE_ADMIN_PASS=password123
MAGE_ADMIN_FIRSTNAME=Joe
MAGE_ADMIN_LASTNAME=Bloggs
MAGE_ADMIN_EMAIL=magento@wearejh.com
MAGE_BACKEND_FRONTNAME=admin
HTTPS=on

# MySQL Details
MYSQL_ROOT_PASSWORD=docker
MYSQL_DATABASE=docker
MYSQL_USER=docker
MYSQL_PASSWORD=docker

# PHP
PHP_MEMORY_LIMIT=2G

# RabbitMQ
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password

# Varnish
VCL_CONFIG: /etc/varnish/default.vcl
CACHE_SIZE: 64m
VARNISHD_PARAMS: -p default_ttl=3600 -p default_grace=3600

## Xdebug config
XDEBUG_IDE_KEY=PHPSTORM
XDEBUG_CONFIG=remote_host=10.254.254.254
XDEBUG_ENABLE=false